@import '../global/global.css';

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: var(--clr-gradient-blue);
}

.title {
    display: none;
}

/* Card Login */
.login {
    background: var(--clr-light-blue);
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem;
    width: 100%;
    height: 75vh;
    text-align: center;
}

.login img {
    width: 80px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Formulario Login */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form-input {
    border: none;
    border-bottom: 1px solid var(--clr-grey);
    background: transparent;
    padding: 0.75rem 0;
    outline: none;
    transition: border-color 0.3s;
    margin-top: 1rem;
}

.login-form-input::placeholder {
    opacity: .5;
}

.login-form-input:focus {
    border-bottom: 2px solid var(--clr-dark-blue);
}

/* Esqueceu sua senha? */
.input-forgot {
    text-align: right;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.input-forgot a {
    font-size: var(--fs-small);
    color: var(--clr-grey);
    text-decoration: none;
}

.input-forgot a:hover {
    color: var(--clr-blue);
}

/* Submit */
.login-form button {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.login-form button:hover {
    background-color: var(--clr-dark-blue);
}

/* Como realizar o acesso */
.access {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    width: 100%;
}

.access p {
    font-size: var(--fs-small);
    color: var(--clr-grey);
    margin-bottom: 0.5rem;
}

.access button {
    background: transparent;
    color: var(--clr-blue);
    border: 1px solid var(--clr-blue);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.access button:hover {
    background-color: var(--clr-blue);
    color: var(--clr-white);
}

/* Instruções para o acesso */
.info-access {
    position: fixed;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.info-access::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--clr-black);
    opacity: 0.5;
    z-index: -1;
}

.info-access.show{
    bottom: 0;
}

/* Card com as instruções */
.info-access-content {
    max-width: 550px;
    width: 90%;
    background: var(--clr-light-blue);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: var(--fs-small);
}

.info-access-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr-gradient-blue);
    padding: 1rem 1.2rem;
    color: var(--clr-light-blue);
}

.info-access-header h2 {
    margin: 0;
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
}

.info-access-header button {
    background: none;
    border: none;
    color: var(--clr-white);
    font-size: var(--fs-button);
    cursor: pointer;
}

.info-access-body {
    padding: 1.2rem;
    line-height: 1.8;
}

.info-access-body ul {
    margin: .8rem 0 1.1rem;
    padding-left: 1.3rem;
}

.info-access-body li {
    margin-bottom: 8px;
}

.info-access-footer {
    padding: 1rem 1.2rem;
    background-color: var(--clr-light-blue);
    text-align: center;
}

.info-access-footer a {
    display: inline-block;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    text-decoration: none;
    padding: .8rem 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.info-access-footer a:hover {
    background-color: var(--clr-dark-blue);
}

/* Medias */
@media screen and (min-width: 610px) {
    main {
        justify-content: center;
    }

    .login img {
        margin-top: .5rem;
        margin-bottom: 0;
    }

    .login {
        border-radius: 1rem;
        width: 80%;
        max-width: 400px;
        height: 80%;
        max-height: 505px;
    }

    .login-form button {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    .access {
        margin-top: 1rem;
        gap: .5rem;
    }
}

@media screen and (min-width: 1100px) {
    body {
        background-image: var(--clr-gradient-blue);
    }

    main {
        max-width: 2200px;
        background-image: none;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .title {
        position: relative;
        display: inline-block;
        font-size: var(--fs-title);
        color: var(--clr-light-blue);
    }

    .title::after {
        content: "";
        display: block;
        height: .2rem;
        background-color: var(--clr-white);
        width: 48.3%;
        margin-top: -10px;
        margin-left: 5px;
    }

}