<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="headerTop">
            <div class="headerTitle">
                <h1>BookPoint</h1>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <h2>BookPoint</h2>
            <p id="statusMessage">Faça seu login.</p>
        </section>

        <section>
            <form method="POST" class="customForm" id="loginForm">
                <div class="formGroup">
                    <label for="username">RA:</label>
                    <input type="text" id="username" name="username"
                        maxlength="80" placeholder="Digite seu RA" required>
    
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" minlenght="8"
                        maxlength="12" placeholder="Digite sua senha" required>
                </div>
                <input type="submit" name="login" class="customButtons" value="Entrar">
            </form>
        </section>

        <section class="observation">
            <p>Contate um professor se houver problemas.</p>
        </section>
    </main>

</body>
</html>